.header {
    
    height: 100px;
    background-color: #87CEFA;
    border-bottom: 1px solid black;
    position: fixed;
    top:0;
    left:0;
    right:0;
}

.content {
    height: 2000px;
}

.footer {
    border: 1px solid black;
    background-color: yellow;
    height: 100px;
}

.menu {
    bottom: 20px;
    right:50px;
    position: absolute;
    margin-right:auto;
    margin-left:auto;
}


.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul:after, .menu:after {
    clear: both;
    content: '';
    padding: 0;
    margin: 0;
    display: block;
    visibility:hidden;
}

.menu ul li {
    float: left;
}

.menu ul li:hover{
    color: red;
}

.menu ul li:nth-child(n+2) {
    border-left: 1px solid black;
    padding-left: 20px;
    margin-left: 20px;
}

.content .leftsider{
    border: 1px solid black;
    width:500px;
    height:400px;
    float:left;
}

.content .rightsider{
    border: 1px solid black;
    width:500px;
    height:400px;
    float:left;
}

.content:after{
    clear:both;
    content: '';
    display: block;
    padding: 0;
    margin: 0;
    visibility: hidden;
}