body{

	padding: 0;
	margin: 0;
}

ul.nav,
ul.nav ul
{
	padding: 0;
	margin: 0;
	list-style: none;
	/*width: 50em;*/
	float: left;
	background-color: #8BD400;
	
}

ul.nav li {
	float: left;
	width: 12em;
	
	
} 


 ul.nav li.header a {
	display: block;
	padding: 0 2em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
	border-left: 1px solid white;
	border-right: 1px solid #486B02;
	
} 


ul.nav a:hover,
ul.nav a:focus,
ul.nav .selected a {
	color: #E4FFD3;
	background-color:#6DA203;
}

ul.nav li ul {
	width: 12em;
	position: absolute;
	left: -999em;
}

.nav li:hover ul  {
	left:auto;

}