ol.pagination{
	margin: 0;
	padding: 0;
	list-style: none;
}

 ol.pagination li {
	float: left;
	margin-right: 1em;
} 

ol.pagination a,
ol.pagination li.selected {
	display: block;
	padding: 0.2em 0.5em; 
	border: 1px solid #ccc;
	text-decoration: none; 
}

ol.pagination a:hover,
ol.pagination a:focus {
	background-color: blue;
	color: white;
} 


ol.pagination a[rel="prev"],
ol.pagination a[rel="next"] {
	border: none;
}

ol.pagination a[rel="prev"]:before {
	content: "\00AB";
	padding-right: 0.5em;
}

ol.pagination a[rel="next"]:after {
	content: "\00BB";
	padding-left: 0.5em;
} 

