.product-item strong {

    font-size: 36px;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sns-serif;
    margin: 0 0 1.5rem;
}

h2 {
    font-family: 'Roboto', sns-serif;
    line-height: 2.5;
    font-weight: 500;
    letter-spacing: 0em;

}

h3 {
    font-family: 'Roboto', sns-serif;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: 0em;
}

.product-item strong {
    display: block;
    letter-spacing: 0.1em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;

}

.product-item h3 {

    display: block;
    letter-spacing: 0.1em;


}

.product-item img {
    display: block;
    border-top: 1px solid #e5e5e5;
    padding-top: 2.5em;
    padding-bottom: 2em;
    margin: 0 auto;
}

.product-item:nth-child(2) {

    float: right;

}

.product-item:nth-child(2) li a {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: #054575;

}

.product-item:nth-child(2) li a:hover {
    color: #2294ea;

}

.product-item:nth-child(2) a {
    text-decoration: none;
}


section.content-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

section.content-intro {
    width: 100%;
}

.section-full {

    width: 100%;
}

.content-rv-father {
    position: relative;

}

.content-rv-center {

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

/*******************
******
****** 内容
 ******************/



/*内容头部*/
.content-header {

    background-color: #d3e4c7;
    height: 199px;
    width: 100%;
    font-size: 35px;
    color: black;
    /*text-align: center;*/
    position: relative;
    margin: 0 auto;

}

.content-header .title {
    height: 50px;
    position: absolute;
    top: -25px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 150;
}

.content-header h2 {
    color: black;
    font-size: 30px;
}




/*下拉菜单样式*/


.m-dropdown {
    width: 500px;
    display: block;
    font-size: 1.6rem;
    line-height: 22px;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background: white;
    border-top: 1px solid #cccccc69;
    border-bottom: 1px solid #cccccc69;
    padding-bottom: 20px;

}

.m-dropdown .e-button {

    transition: all 0.3s ease-in-out;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    padding: 30px 40px 30px 5px;
    z-index: 900;
    color: black;
    font-weight: 900;
    position: relative;
    margin-top: 2px;
    font-family: "Open Sans", sans-serif;
    z-index: 5;
    display: block;
    width: 100%;
    background: white;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #cccccc69;


}


.m-dropdown .e-button:hover {
    cursor: pointer;
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);*/
    background-color: #f7f5f5;
    color: black;

}


.m-dropdown .e-button:after,
.m-dropdown .e-button:before {
    display: block;
    content: " ";
    position: absolute;
    top: 2px;
    height: 100%;
    width: 20px;
    background: white;
    z-index: 0;
}

.m-dropdown .e-button:after {
    left: 100%;
    margin-left: 2px;
    border-bottom-left-radius: 10px;
}

.m-dropdown .e-button:before {
    right: 100%;
    margin-right: 2px;
    border-bottom-right-radius: 10px;
}

.m-dropdown .e-button .e-burger {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    width: 15px;
    height: 14px;
    transform-origin: center;
    z-index: -1;
}

.m-dropdown .e-button .e-burger span {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    left: 0;
    transform-origin: center;
}

.m-dropdown .e-button .e-burger span:first-child {
    top: 0;
    transform: none;
}

.m-dropdown .e-button .e-burger span:last-child {
    top: auto;
    bottom: 0;
    transform: none;
}

.m-dropdown .e-button .e-burger:after {
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    content: " ";
    display: block;
    position: absolute;
    top: 12px;
    right: -37px;
    height: 0;
    width: 199px;
    left: auto;
    z-index: -2;
    background: white;
    opacity: 0;
}

.m-dropdown .e-button.open {
    border-color: transparent;
    background: white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: black;
}

.m-dropdown .e-button.open .e-burger span {
    background: white;
}

.m-dropdown .e-button.open .e-burger span:first-child {
    opacity: 0;
}

.m-dropdown .e-button.open .e-burger span:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}

.m-dropdown .e-button.open .e-burger span:nth-child(3) {
    transform: translateY(-50%) rotate(45deg);
}

.m-dropdown .e-button.open .e-burger span:last-child {
    opacity: 0;
}

.m-dropdown .e-button.open .e-burger:after {
    opacity: 1;
}

.m-dropdown .e-button li {
    margin-right: 1em;
}

.m-dropdown .e-list {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: white;
    float: left;
    overflow: hidden;
    z-index: 999;
    margin: 0 auto;
    border-bottom: 1px solid #cccccc69;
    margin-bottom: 10px;
}

.m-dropdown .e-list li {
    display: block;
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
    box-sizing: border-box;
}

.m-dropdown .e-list li:last-child {
    border: none;
}

.m-dropdown .e-list li a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 15px;
    float: left;
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 1em;
}

.m-dropdown .e-list {
    display: none;
}

.m-dropdown .e-list li {
    padding: 10px;
}

.m-dropdown .e-list p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: black;
}


/*产品页面*/
.product-feature {

    background-color: #ededed;
}

.product-feature .mytab .nav-tabs,
.product-feature .mytab .nav-tabs .tab {
    border-bottom: 0;
}



.product-feature .mytab {
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
    border: none;
    font-size: 14px;
    font-weight: 300;

}

#myTabContent p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    font-size: 14px;
    color: black;
}

.product-feature .mytab .fatab {
    border: none;
}

.product-feature .tab-content {
    padding-bottom: 50px;
}

.product-feature .mytab .nav-tabs>li>a,
.product-feature .mytab .nav-tabs>li,
    {
    border: none;
    background-color: #ededed;
    text-decoration: none;

}

.product-feature .mytab .nav li {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px;
}

.product-feature .mytab .nav li a {
    border: none;
    background-color: #ededed;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.mytab .nav-tabs>li.active>a,
.mytab .nav-tabs>li.active>a:focus,
.mytab .nav-tabs>li.active>a:hover {

    background-color: #ededed;


}

.mytab .nav-tabs>li.active,
.mytab .nav-tabs>li.active:focus,
.mytab .nav-tabs>li.active:hover {

    border-bottom: 2px solid black;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }



}

@media only screen and (max-width: 1200px) {
    .mytab .fatab {
        width: 280px;
    }
}

@media only screen and (max-width: 1000px) {
    .mytab .fatab {
        width: 100%;
    }
}

.intro,
.intro1 {
    height: 190px;
    width: 100%;
    position: relative;
    background-color: black;

}

.intro1 {
    background-color: #005697;
}

.intro .in1,
.intro1 .in2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    max-width: 1200px;
}

.intro1 .in2 {

    font-size: 45px;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: 0em;
    max-width: 650px;

}

.train-content-intro, .product-contact, .train-case-intro .v-300_action{
    max-width: 1280px;
    margin: 0 auto;
}

.train-content-intro p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: black;

}


.product-contact button{
    background-color:#005697;
    font-size: 19px;
    border: none;
}

.product-contact a {

    color: #ffffff!important;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0em;
    border-radius: 0.2em;
    padding: 0.8em 1.5em;
    background-color: #005697;
    border-color: transparent;
    box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.4);
}
